<%- include('/partials/header') -%>

<!-- Updated dashoard view page -->

<div class="container">
    <div class="">
        <div>
            <nav>

            </nav>
        </div>

        <header class="">
            <div class="">
                <h1></h1>
            </div>
        </header>

        <div class="">
            <!-- switching bookmarks -->
            <div class="">
                <div class="">
                    <button class=""><p></p></button>
                </div>

                <div class="">
                    <button class=""><p></p></button>
                </div>

                <div class="">
                    <button class=""><p></p></button>
                </div>

                <button class="">

                </button>
            </div>
        </div>

        <!-- new bookmark -->
        <div class="">
            <table class="">
                <% bookmarks.forEach(element => { %>
                    <% if(element.completed === false) { %>
                        <tbody>
                            <tr tabindex="0">

                            </tr>
                            <td class="">

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="">
                                <a href="" class=""></a>
                            </td>
                            <td class="">
                                <form class="" action="">
                                    <button class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                          </svg>
                                    </button>
                                </form>
                            </td>
                            <td class="">
                                <div class="">
                                    <label tabindex="0" class="btn m-1"><img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/tasks-svg6.svg" alt="dropdown"></label>
                                      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-22">
                                        <li>
                                          <form class= "m-0" tabindex="0" action="/dashboard/deleteBookmark/<%= element._id %>?_method=DELETE" method="POST">
                                            <button class="text-xs" type="submit">Delete</button>
                                          </form>
                                        </li>

                                        <li>
                                          <a class="text-xs">Edit</a>
                                        </li>
                                      </ul>
                                </div>
                            </td>
                        </tbody>
                    <% } %>
                <% }) %>
            </table>
        </div>
    </div>
</div>

<%- include('/partials/footer') -%>