<%- include('/partials/header') -%>

<!-- Updated dashoard view page -->

<div class="container">
    <div class="">
        <div>
            <nav>

            </nav>
        </div>

        <header class="">
            <div class="">
                <h1></h1>
            </div>
        </header>

        <div class="">
            <!-- switching bookmarks -->
            <div class="">
                <div class="">
                    <button class=""><p></p></button>
                </div>

                <div class="">
                    <button class=""><p></p></button>
                </div>

                <div class="">
                    <button class=""><p></p></button>
                </div>

                <button class="">

                </button>
            </div>
        </div>

        <!-- new bookmark -->
        <div class="">
            <table>
                
            </table>
        </div>
    </div>
</div>

<%- include('/partials/footer') -%>