<%- include("partials/header") -%>
<div class="">
    <div class="">
        <!-- Navbar -->
        <div class="">

        </div>

        <!-- Dashboard-->
        <div class="">
            <div class="">

            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>